body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #f2f3f5;
    color: #535353;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 1.2rem;
}